.underline-link {
  position: relative;

  &.active {
    color: $main-color
  }

  &.active::before {
    width: 100%;
  }
}

.underline-link:hover, .underline-link:focus {
  color: $main-color;
}

.underline-link:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: $main-color;
  transition: 0.3s;
}

.underline-link:hover, .underline-link:focus {
  &::before {
    width: 100%;
    transition: 0.3s;
  }
}

.subnav,.btnZone{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subnav{
  justify-content:space-around;
}

.btnOut {
  outline:none;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  transform: rotate(45deg);
  transition: 0.2s;
  border-radius: 20px; }
  .btnTxt {
    transform: rotate(-45deg);
    text-transform: lowercase;
    font-size:14px; }
  .btnOut::before {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 25px;
    bottom: -15px;
    height: 4px;
    width: 60px;
    transition: 0.2s;
    border-radius: 2px; }
  .btnOut::after {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 55px;
    right: -15px;
    height: 30px;
    width: 4px;
    transition: 0.2s;
    border-radius: 2px; }
  .btnOut:hover {
    transform: rotate(45deg) translate(-10px, -10px); }
    .btnOut:hover::before {
      left: 50px;
      width: 20px; }
    .btnOut:hover::after {
      top: 5px;
      height: 60px; }

  .navOut{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
  }
  .navOut::after {
    content: '';
    display: block;
    box-sizing: border-box;
    height: 6px;
    width: 40px;
    border-radius: 6px;
    position: absolute;
    bottom: -10px;
    left: 10px;
    transition: 0.3s;
  }
  .navOut:hover::after {
    left: 30px;
    width: 60px;
    transition: 0.3s;

  }

  #toTop{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height:80px;
    border-radius:40px;
    padding:10px;
    opacity:1;
    text-decoration:none;
    cursor:pointer;
    p{
        text-align:center;
        font-family:monospace;
        font-size:40px;
        font-weight:bold;
    }

  }
  .top{
    opacity:0;
    position:fixed;
    bottom:100px;
    right:30px;
    transform:rotate(-90deg) translateY(3px);
    transition:0.2s;
  }
