.underline-link {
  position: relative;
}

.underline-link:hover {
  color: green;
}

.underline-link:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: green;
  transition: 0.3s;
}

.underline-link:hover {
  &::before {
    width: 100%;
    transition: 0.3s;
  }
}