@import './reset';
@import './fonts';
@import './buttons';

@import './menu';
@import './footer';
@import './link-form';
@import './links';

@import './demo';
@import './demo-animation';

@import './demo-transform';
@import './demo-bgimg';

@import './block';
@import './code';

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
}


.container {
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: bold;
}

article,p,pre,dd,dt{
  line-height: 150%;
}
