@import './reset';
@import './fonts';
@import './buttons';

@import './menu';
@import './footer';

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box; 
}

body {
  position: relative;
}

main {
  border: 2px solid green;
}


.container {
  max-width: 1000px;
  margin: auto;
}