@import './reset';
@import './fonts';

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box; 
}

body {
  position: relative;
}

#menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid blue;
}


#footer {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


main {
  border: 2px solid green;
}