#menu {
  width: 100%;
  // border: 1px solid blue;
  // background-color: white;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  
  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  p {
    margin: 0 10px;
    white-space: nowrap;
  }

  a {
    position: relative;
  }
}
