#menu {
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  
  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  p {
    margin: 0 10px;
    white-space: nowrap;
  }

  a {
    position: relative;
  }

  @media screen and (max-width: 900px) {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;
    background-color: white;
    z-index: 99;
    transition-property: right;
    transition-duration: 0.5s;
    
    &.shown {
      right: 0px;
    }

    div {
      display: flex;
      flex-direction: column;
      top: 0;
    }
    .container {
      margin: 10px auto;
    }
  }


}

#mobile-header {
  display: none;
  height: 50px;
  text-align: right;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  
  @media screen and (max-width: 900px) {
    // display: block;
    display: flex;
  }

  #menu-toggle {
    z-index: 100;
    position: relative;
    cursor: pointer;

    &.fixed {
      position: fixed;
    }
  }
}