.menu-button {
  position: relative;

  &.active {
    color: $main-color
  }

  &.active::before {
    width: 100%;
  }
}

.navOut{
  position:relative;
  color:black;
}
.navOut:hover, .navOut:focus, .menu-button:hover, .menu-button:focus {
  color: $main-color;
}

.navOut:before, .menu-button:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: $main-color;
  transition: 0.3s;
}

.navOut:hover, .navOut:focus, .menu-button:hover, .menu-button:focus {
  &::before {
    width: 100%;
    transition: 0.3s;
  }
}
