
#menu, #footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-self: start;
  height: 200px;
}

#menu {
  @media (max-width: 900px) {
    height: 100vh;
  }
}

.menu-button {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100px;
  border: 5px solid $main-color;
  text-decoration: none;
  color: $main-color;
  font-family: sans-serif;
  font-weight: bold;
  transform: rotate(45deg);
  transition: 0.2s;
  border-radius: 20px;

  &__text {
    transform: rotate(-45deg);
    text-transform: lowercase;
  }

  &::before {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 25px;
    bottom: -15px;
    height: 4px;
    width: 60px;
    background-color: $secondary-color;
    transition: 0.2s;
    border-radius: 2px;
  }

  &::after {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 55px;
    right: -15px;
    height: 30px;
    width: 4px;
    background-color: $secondary-color;
    transition: 0.2s;
    border-radius: 2px;
  }

  &:hover {
    transform: rotate(45deg) translate(-10px, -10px);
    background-color: lighten($secondary-color, 35%);

    &::before {
      left: 50px;
      width: 20px;
    }

    &::after {
      top: 5px;
      height: 60px;
    }
  }
}

.navOut{
  position: relative;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}
.navOut::after {
  content: '';
  display: block;
  box-sizing: border-box;
  height: 6px;
  width: 40px;
  border-radius: 6px;
  position: absolute;
  bottom: -10px;
  left: 10px;
  transition: 0.3s;
}
.navOut:hover::after {
  left: 30px;
  width: 60px;
  transition: 0.3s;

}
