@import './colors';
@import '../global';
@import './nav';
@import 'header';

body {
  background-color: #ddd;
}

code, pre{
  background-color:lighten($secondary-color,40);
  color:$main-color;
}
pre{
  box-shadow:5px 5px 5px $secondary-color;
}
dt{
  background-color:$secondary-color;
}
dd ul li::before{
  background-color:$secondary-color;
}

#toTop{
  background-color:lighten($secondary-color,40);
  border:5px solid $main-color;
  p{
    color:$main-color;
  }
}

.navOut{
      color: $main-color;
}
.navOut::after{
      background-color: $secondary-color;
}
